services:
  db:
    image: mysql:5.7
    container_name: doctors_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  wordpress:
    image: wordpress:latest
    container_name: doctors_wordpress
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress_data:/var/www/html
      - ./wp-content/plugins/doctors-cpt:/var/www/html/wp-content/plugins/doctors-cpt
      - ./wp-content/themes/developers-theme:/var/www/html/wp-content/themes/developers-theme

  wpcli:
    image: wordpress:cli
    container_name: doctors_wpcli
    depends_on:
      - db
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
      - ./wp-content/plugins/doctors-cpt:/var/www/html/wp-content/plugins/doctors-cpt
      - ./wp-content/themes/developers-theme:/var/www/html/wp-content/themes/developers-theme
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    user: "33:33"
    command: sh -c "sleep infinity"

volumes:
  db_data:
  wordpress_data:
